@import '@acab/reset.css';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
}

body {
}

body > * {
}

body * { /* default styles for all elements */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .2rem;
  justify-content: center;
  align-items: center;

  word-break: break-all; /* break-word */
}

h1 {
}

a {
}

a:hover {
}


button {
  border-radius: 0.3rem;
}
button:hover {
}
button:focus,
button:focus-visible {
}

#app {
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
  button {
  }
}
